[xcpp]
path = .:xcpp

[cpp]
dir = cpp
bin = bin
cxxinc = cpp:/usr/local/include
cxxlib = /usr/local/lib
opt = -O3 -Werror -Wfatal-errors -Wextra -larmadillo -framework Accelerate

[python]
dir = cpp
lib = lib
wrapper = python
cxxinc = /usr/local/include:cpp
cxxlib = /usr/local/lib
opt = -O3 -Werror -Wfatal-errors -Wextra -larmadillo -framework Accelerate

[matlab]
dir = cpp
lib = matlab
wrapper = matlab
cxxinc = cpp:/usr/local/include
cxxlib = /usr/local/lib
cxxopt = -O3 -Werror -Wfatal-errors -Wextra -larmadillo -framework Accelerate
epilog = -larmadillo

[mathematica]
dir = cpp
mma = mathematica
app = PkgSample
cxxinc = cpp
