[xcpp]
path = xcpp
path = .:${path}
path = ..:${path}

[cpp]
dir = cpp
bin = bin
cxxinc = cpp:/usr/local/include
cxxlib = /usr/local/lib
opt = -O3 -Werror -Wfatal-errors -Wextra -larmadillo -framework Accelerate

[python]
dir = cpp
wrapper = python
cxxinc = cpp
opt-default = -O3
opt-mac = ${opt-default}
opt-mac = ${opt-mac} -Werror -Wfatal-errors -Wextra
opt-mac = ${opt-mac} -framework Accelerate
opt = ${opt-mac} IF[[ __import__('sys').platform == 'darwin' ]]ELSE ${opt-default}

[matlab]
dir = cpp
lib = matlab
wrapper = matlab
cxxinc = cpp:/usr/local/include
cxxlib = /usr/local/lib
cxxopt = -O3 -Werror -Wfatal-errors -Wextra -larmadillo -framework Accelerate
epilog = -larmadillo

[mathematica]
dir = cpp
mma = mathematica
app = PkgSample
cxxinc = cpp

[new]
path = ${xcpp:path}:$HOME/path/to/stuff:done
stuff = $HOME:$EDITOR

