[xcpp]
name = xc-tests
path = xcpp

[xc]
arma-mac = -framework Accelerate -larmadillo
has-arma = True IF[[ 'include <armadillo>' in open(ARG.FILEPATH, 'r').read() ]]ELSE False
is-mac = True IF[[ __import__('sys').platform == 'darwin' ]] False
opt = -O3 -Werror -Wfatal-errors -Wextra

[cpp]
dir = cpp
cxxinc = cpp
opt = ${xc:opt}
opt = ${opt} ${xc:arma-mac} IF[[ ${xc:has-arma} and ${xc:is-mac} ]]

[python]
dir = cpp
wrapper = python
cxxinc = cpp
opt = ${xc:opt}
opt = ${opt} ${xc:arma-mac} IF[[ ${xc:has-arma} and ${xc:is-mac} ]]

[matlab]
dir = cpp
lib = matlab
wrapper = matlab
cxxinc = cpp
cxxopt = ${xc:opt}
cxxopt = ${xc:opt} ${xc:arma-mac} IF[[ ${xc:has-arma} and ${xc:is-mac} ]]
epilog = -larmadillo IF[[ ${xc:has-arma} and ${xc:is-mac} ]]

[mathematica]
dir = cpp
mma = mathematica
app = PkgSample
cxxinc = cpp

[new]
path = ${xcpp:path}:$HOME/path/to/stuff:done
stuff = $HOME:$EDITOR

